<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/output.css">
    <script src="https://cdn.tailwindcss.com" defer></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
       <style type="text/tailwindcss">
        @layer utilities {
          .content-auto {
            content-visibility: auto;
          }
        }
      </style>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp" defer></script>

    <title>Portfolio</title>
</head>
<body class="bg-blue-950">
  <header id="navbar"></header>
  <main>
    <div class="mt-24 mb-10">
      <h1 class="text-center text-blue-100 font-semibold">Les thechnologie que j'utilise</h1>
    </div>
    <div class="flex justify-around">
      <img src="../images/pageCompBis.jpg" alt="competences" class="object-cover w-96 h-[460px] rounded-xl ml-4 pr-4">
      <div class="flex space-x-4 flex-col"> <!--Colonne 1-->
        <div class="flex flex-col gap-3 mr-3">
          <h4 class="text-blue-100 italic font-semibold">HTML</h4>
          <img src="../images/logoHtml.jpg" alt="html" class="rounded-lg object-cover w-full h-[100px] mb-4">
        </div>
        <div class="flex flex-col gap-3 mr-3">
          <h4 class="text-blue-100 italic font-semibold">CSS</h4>
          <img src="../images/logocss.jpg" alt="html" class="rounded-lg object-cover w-full h-[100px] mb-4">
        </div>
        <div class="flex flex-col gap-3 mr-3">
          <h4 class="text-blue-100 italic font-semibold">JavaScript</h4>
          <img src="../images/logoJavaScript.webp" alt="html" class="rounded-lg object-cover w-full h-[100px] mb-4">
        </div>
      </div>
      <div class="flex space-x-4 flex-col"> <!--Colonne 2-->
        <div class="flex flex-col gap-3 mr-3">
          <h4 class="text-blue-100 italic font-semibold">PHP</h4>
          <img src="../images/logoPhp.webp" alt="html" class="rounded-lg object-cover w-full h-[100px] mb-4">
        </div>
        <div class="flex flex-col gap-3 mr-3">
          <h4 class="text-blue-100 italic font-semibold">Jquery</h4>
          <img src="../images/logoJquery.jpg" alt="html" class="rounded-lg object-cover w-full h-[100px] mb-4">
        </div>
        <div class="flex flex-col gap-3 mr-3">
          <h4 class="text-blue-100 italic font-semibold">Bootstrap</h4>
          <img src="../images/logoBootstrap.webp" alt="html" class="rounded-lg object-cover w-full h-[100px] mb-4">
        </div>
      </div>
      <div class="flex space-x-4 flex-col"> <!--Colonne3-->
        <div class="flex flex-col gap-3 mr-3">
          <h4 class="text-blue-100 italic font-semibold">Tailwindcss</h4>
          <img src="../images/logoTailwind.webp" alt="html" class="rounded-lg object-cover w-full h-[100px] mb-4">
        </div>
        <div class="flex flex-col gap-3 mr-3">
          <h4 class="text-blue-100 italic font-semibold">Git</h4>
          <img src="../images/logoGit.webp" alt="html" class="rounded-lg object-cover w-full h-[100px] mb-4">
        </div>
        <div class="flex flex-col gap-3">
          <h4 class="text-blue-100 italic font-semibold">Docker</h4>
          <img src="../images/logoDocker.webp" alt="html" class="rounded-lg object-cover w-full h-[100px] mb-4">
        </div>
      </div>
    </div>
  </main>
  <footer id="foot"></footer>
</body>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(function () {
        $("#navbar").load("navbar.html");
    });
    
    $(function () {
        $("#foot").load("footer.html");
    }); 
</script>
</html>