<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/output.css">
    <script src="https://cdn.tailwindcss.com" defer></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
       <style type="text/tailwindcss">
        @layer utilities {
          .content-auto {
            content-visibility: auto;
          }
        }
      </style>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp" defer></script>

    <title>Portfolio</title>
</head>
<body class="bg-blue-950">
  <header id="navbar"></header>
  <main>
    <div class="my-28">
      <h1 class="text-center text-blue-100 font-semibold">Mes expériences</h1>
    </div>
    <div class="flex justify-evenly">
      <img src="../images/mondePro.jpg" alt="mondePro" class="object-cover w-96 h-[460px] rounded-xl">
      <div class="flex flex-col gap-3"> <!--Neyret-->
        <img src="../images/logoNeyret.webp" alt="nti" class="rounded-xl object-cover w-64 h-[100px] mx-6 mb-4">
        <h2 class="text-blue-100 font-normal italic">Stage <span class="w-[1px] h-[13px] border-l border-blue-100 mx-2"> </span>
          Développement Web <span class="w-[1px] h-[13px] border-l border-blue-100 mx-2"> </span>
          Octobre 2022 - Décembre 2022 
        </h2>
        <p>
          <ul class="flex flex-col">
            <li class="text-blue-100 italic mb-2"><strong class="mr-1">&bull;</strong>Migrer le portail de PHP5.7 en PHP 8+</li>
            <li class="text-blue-100 italic mb-2"><strong class="mr-1">&bull;</strong>Développer les EDI entre le portail et notre ERP</li>
            <li class="text-blue-100 italic mb-2"><strong class="mr-1">&bull;</strong>Intégrer / développer un outils de statistique pour nos clients</li>
            <li class="text-blue-100 italic mb-2"><strong class="mr-1">&bull;</strong>Mettre en production le module de paiement multidevise</li>
          </ul>
        </p>
      </div>
      <div class="flex flex-col gap-3"> <!--Hotel Tggat-->
        <img src="../images/logoTaggat.webp" alt="taggat" class="rounded-xl object-cover w-64 h-[100px] mx-6 mb-4">
        <h2 class="text-blue-100 font-normal italic">CDD <span class="w-[1px] h-[13px] border-l border-blue-100 mx-2"> </span>
          Réceptionniste en hotellérie <span class="w-[1px] h-[13px] border-l border-blue-100 mx-2"> </span>
          Avril 2022 - Juillet 2022 
        </h2>
        <p>
          <ul class="flex flex-col">
            <li class="text-blue-100 italic"><strong class="mr-1">&bull;</strong>Prendre et intégrer les réservation en ligne et/ou sur place</li>
            <li class="text-blue-100 italic"><strong class="mr-1">&bull;</strong>Accueil, CheckIn, CheckOut et encaissement des clients</li>
            <li class="text-blue-100 italic"><strong class="mr-1">&bull;</strong>Préparation et service de petit-déjeuner</li>
            <li class="text-blue-100 italic"><strong class="mr-1">&bull;</strong>Assurer le calme et la proprété au sein de l'établissement</li>
          </ul>
        </p>
      </div>
    </div>
  </main>
  <footer id="foot"></footer>
</body>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(function () {
        $("#navbar").load("navbar.html");
    });
    
    $(function () {
        $("#foot").load("footer.html");
    }); 
</script>
</html>