<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/output.css">
    <script src="https://cdn.tailwindcss.com" defer></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
       <style type="text/tailwindcss">
        @layer utilities {
          .content-auto {
            content-visibility: auto;
          }
        }
      </style>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp" defer></script>

    <title>Portfolio</title>
</head>
<body class="bg-gradient-to-r from-cyan-500 to-blue-500">
  <header id="navbar"></header>
  <main>
    <div class="mt-40">
      <h3 class="text-center text-blue-100 font-bold">Mes formations</h3>
    </div>
    <div class="mt-16 flex justify-around">
      <img src="../images/cerveau.jpg" alt="cervo" class="object-cover w-96 h-[460px] rounded-xl">
      <img src="../images/livcodeBis.avif" alt="livCode" class="object-cover w-96 h-[460px] rounded-xl">
        <div class="flex justify-around mt-20">
          <div class="flex flex-col gap-4 mr-4"> <!--UCBL-->
            <img src="../images/logoLyon1.webp" alt="logoUcbl" class="rounded-xl object-cover w-64 h-[100px] mx-6 mb-4">
            <h3 class="text-blue-100 font-medium"> UCBL 
              <span class="w-[1px] h-[13px] border-l border-blue-100 mx-2"> </span>
              Licence Maths-Info 
              <span class="w-[1px] h-[13px] border-l border-blue-100 mx-2"> </span>
              2018-2022
            </h3>
            <p>
              <ul class="flex flex-col">
                <li class="text-blue-100 italic"><strong class="mr-1"> &bull; </strong>Algèbre et Anlyse fonctionnelle</li>
                <li class="text-blue-100 italic"><strong class="mr-1"> &bull; </strong>Les bases de l'algorithme et les structures de données</li>
                <li class="text-blue-100 italic"><strong class="mr-1"> &bull; </strong>Développement d'applications avec <strong>C++</strong></li>
                <li class="text-blue-100 italic"><strong class="mr-1"> &bull; </strong>Le développement web et la base de données</li>
                <li class="text-blue-100 italic"><strong class="mr-1"> &bull; </strong>Les fondamentaux de Linux</li>
                <li class="text-blue-100 italic"><strong class="mr-1"> &bull; </strong>Requetage Sql</li>
              </ul>
            </p>
          </div>
          <div class="flex flex-col gap-4 ml-4"> <!--ESGI-->
            <img src="../images/esgiLogoBis.webp" alt="logoEsgi" class="rounded-xl object-cover w-64 h-[100px] mb-4">
            <h3 class="text-blue-100 font-medium"> ESGI
              <span class="w-[1px] h-[13px] border-l border-blue-100 mx-2"> </span>
              Ingénierie du Web 
              <span class="w-[1px] h-[13px] border-l border-blue-100 mx-2"> </span>
              2022-2024
            </h3>
            <p>
              <ul class="flex flex-col">
                <li class="text-blue-100 italic"><strong class="mr-1"> &bull; </strong>Conception Web <strong>Figma</strong></li>
                <li class="text-blue-100 italic"><strong class="mr-1"> &bull; </strong>Intégration Web <strong>HTML-CSS</strong></li>
                <li class="text-blue-100 italic"><strong class="mr-1"> &bull; </strong>Développement web avec <strong>JavaScript</strong> et <strong>PHP</strong></li>
                <li class="text-blue-100 italic"><strong class="mr-1"> &bull; </strong>Introduction au versioning avec <strong>Git</strong></li>
                <li class="text-blue-100 italic"><strong class="mr-1"> &bull; </strong>Création de site e-commerce avec <strong>WordPress</strong></li>
                <li class="text-blue-100 italic"><strong class="mr-1"> &bull; </strong>Utilisation de containers avec <strong>Docker</strong></li>
              </ul>
            </p>
          </div>
        </div>
    </div>
  </main>
  <footer id="foot"></footer>
</body>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(function () {
        $("#navbar").load("navbar.html");
    });
    
    $(function () {
        $("#foot").load("footer.html");
    }); 
</script>
</html>