<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/output.css">
    <script src="https://cdn.tailwindcss.com" defer></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
       <style type="text/tailwindcss">
        @layer utilities {
          .content-auto {
            content-visibility: auto;
          }
        }
      </style>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp" defer></script>

    <title>Portfolio</title>
</head>
<body class="bg-blue-950">
  <header id="navbar"></header>
  <main class="mx-4 lg:mx-[200px] md:mx-[100px] pt-2 mt-11">
    <div class="mt-20 items-center mb-2">
      <h1 class="font-extrabold text-white text-center">Bienvenu sur mon Portfolio</h1>
      <p class="text-center text-blue-100 my-3">Vous avez besoins de vous demarquer, de marquer
        votre présence sur l'internet, vous etes sur le bon endroit. Nous mettons à votre disposition
        des sites web accessible et facile à utiliser !</p>
    </div>
    <div class="my-4">
      <img src="../images/doubleEcran.jpg" alt="doubleEcran" class=" md:h-25 w-25 object-cover">
    </div>
    <div class="mt-20">
      <h2 class="text-blue-100 text-center font-extrabold underline"> Mes services </h2>
      <div class="mt-5 flex justify-between">
        <div class="mr-4">
          <h3 class="my-5 text-blue-100 text-center">Création de sites web</h3>
          <img src="../images/code.jpg" alt="image" class="rounded-lg object-cover w-full h-[300px]" />
        </div>
        <div class="mr-4">
          <h3 class="my-5 text-blue-100 text-center">Consulting</h3>
          <img src="../images/consultingbis.avif" alt="image" class="rounded-lg object-cover w-full h-[300px]" />
        </div>
        <div class="mr-4">
          <h3 class="my-5 text-blue-100 text-center">Designe</h3>
          <img src="../images/design.jpg" alt="image" class="rounded-lg object-cover w-full h-[300px]" />
        </div>
      </div>
    </div>
    <div class="text-center mt-10 mb-10">
      <a href="profil.html">
          <button class="group relative h-12 w-48 overflow-hidden rounded-full bg-cyan-900 text-blue-100 text-lg shadow">
              <div
                  class="absolute inset-0 w-3 bg-cyan-400 transition-all duration-[600ms] ease-out group-hover:w-full">
              </div>
              <!-- md:w-1/2 text-nude-100 bg-blue-100 px-[7px] md:px-3 md:py-4 py-[10px] rounded-3xl mb-20 -->
              <span class="relative text-nude-100 group-hover:text-blue-100">Mon histoire</span>
          </button>
      </a>
  </div>
  </main>
  <footer id="foot"></footer>
</body>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(function () {
        $("#navbar").load("navbar.html");
    });
    
    $(function () {
        $("#foot").load("footer.html");
    }); 
</script>
</html>