<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/output.css">
    <title>Portfolio</title>
</head>
<body class="bg-white">
    <div>
        <nav class="bg-nude-500	flex justify-around">
            <a class="text-white font-semibold" href="profil.html">Profil</a>
            <a class="text-white font-semibold" href="experience.html">Expériences</a>
            <a class="text-white font-semibold" href="formation.html">Formations</a>
            <a class="text-white font-semibold" href="comptence.html">Compétences</a>
            <a class="text-white font-semibold" href="contact.html">Contacts</a>
        </nav>
    </div>
</body>
</html>