<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/output.css">
    <script src="https://cdn.tailwindcss.com" defer></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
       <style type="text/tailwindcss">
        @layer utilities {
          .content-auto {
            content-visibility: auto;
          }
        }
      </style>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp" defer></script>

    <title>Portfolio</title>
</head>

<body>
    <div class="mt-1 mb-10 ">
      <!----------------------------------------- Navbar Dekstop --------------------------->
      <nav
        class=" border-b-2 fixed w-full top-0 right-0 z-50 flex items-center justify-around bg-nude-100 py-4 transition-all duration-450 z-1">
        <div class="md:flex hidden items-center mt-1 ">
          <a href="index.html" class="text-blue-100 block hover:text-corail-100 px-3 py-2 rounded-md">
            Accueil
          </a>
          <span class="w-[1px] h-[13px] border-l border-blue-100"> </span>
          <a href="experience.html" class="text-blue-100 block hover:text-corail-100 px-3 py-2 rounded-md" data-translate="menu.experience">Expériences</a>
          <span class="w-[1px] h-[13px] border-l border-blue-100"> </span>
          <a href="formation.html" class="text-blue-100 block hover:text-corail-100 px-3 py-2 rounded-md" data-translate="menu.formation">Formations</a>
          <span class="w-[1px] h-[13px] border-l border-blue-100"> </span>
          <a href="comptence.html" class="text-blue-100 block hover:text-corail-100 px-3 py-2 rounded-md" data-translate="menu.comptence">Compétences</a>
          <span class="w-[1px] h-[13px] border-l border-blue-100"> </span>
          <a href="contact.html" class="text-blue-100 block hover:text-corail-100 px-3 py-2 rounded-md" data-translate="menu.contact"> Contacts</a>
        </div>
        <!----------------------------------------- Navbar Mobile --------------------------->
        <!----------------------------------------- Navbar Mobile --------------------------->
  
        <div class="md:hidden">
          <!-- burger menu -->
          <svg id="burger-menu" class="w-[30px] fill-current text-cyan-700 cursor-pointer"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
          </svg>
  
          <!-- Liens du menu -->
          <div id="mobile-menu" class="absolute left-0 w-full bg-cyan-700 p-4 text-center mt-3">
            <a href="index.html" class="text-blue-100 hover:text-corail-100 block px-3 py-2 rounded-md">Accueil</a>
            <a href="profil.html"
              class="text-blue-100 hover:text-corail-100 block px-3 py-2 rounded-md">Profil</a>
            <a href="experience.html" class="text-blue-100 hover:text-corail-100 block px-3 py-2 rounded-md">Expériences</a>
            <a href="formation.html" class="text-blue-100 hover:text-corail-100 block px-3 py-2 rounded-md">
              Formations
            </a>
            <a href="comptence.html" class="text-blue-100 hover:text-corail-100 block px-3 py-2 rounded-md">Compétences</a>
            <a href="contact.html" class="text-blue-100 hover:text-corail-100 block px-3 py-2 rounded-md">Contacts</a>
          </div>
        </div>
      </nav>
    </div>
    <script src="../lang/language.js"></script>
    <!-- Vous pouvez ajouter ce script pour faire fonctionner le menu mobile -->
    <script>
      const btn = document.querySelector("#burger-menu");
      const menu = document.querySelector("#mobile-menu");
  
      // Add the "hidden" class to the menu element by default
      menu.classList.add("hidden");
  
      btn.addEventListener("click", () => {
        const expanded = btn.getAttribute("aria-expanded") === "true" || false;
        btn.setAttribute("aria-expanded", !expanded);
        menu.classList.toggle("hidden");
      });
    </script>
  </body>
  
  </html>