<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/output.css">
    <script src="https://cdn.tailwindcss.com" defer></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
       <style type="text/tailwindcss">
        @layer utilities {
          .content-auto {
            content-visibility: auto;
          }
        }
      </style>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp" defer></script>

    <title>Portfolio</title>
</head>
<body class="bg-blue-950">
  <header id="navbar"></header>
  <main>
    <div class="mt-28 mb-10">
      <h1 class="text-center text-blue-100 font-bold">Mon histoire</h1>
    </div>
    <div class="my-10 flex justify-around">
      <img src="../images/Pp.jpg" alt="photoProfil" class="object-cover w-96 h-[480px] rounded-xl">
      <div>
        <h3 class="text-blue-100 text-left font-medium mb-3 underline">Mon parcours</h3>
        <p class="text-blue-100 font-normal text-left italic">Passionné des nouvelles technologie depuis
           ma tendre enfance, </br> j'ai toujours adoré tout ce qui s'identifie au domaine digital. </br>
           J'ai donc choisi un parcours scientifique suite à l'obtention de mon brevet au collège.</br>
           Continuant sur ce chemin, j'ai obtenu un Bac Scientifique au Sénégal et faire ensuite le</br>
           voyage en France pour y poursuivre mes études.</br>
          </br>Une fois arrivé en France, j'ai intégré la préstigieuse université de Lyon, <strong>Claude Bernard</strong> </br>
          Où j'ai fait deux années de Licence en <strong>Mathématiques et Informatique</strong>. </br>
          Après de solides bases en <strong>Informatique,</strong> j'ai reussi le concours d'entrée à la grande école </br>
          Informatique, <strong>L'ESGI-Lyon</strong> pour un diplome de <strong>Bachelor 3ème année.</strong>
        </p>
      </div>
      <div>
        <h3 class="text-blue-100 text-left font-medium underline mb-3">Mes centres d'intérets</h3>
        <p class="text-blue-100 font-normal text-left">
          <ul class="flex flex-col gap-y-2 mt-5">
            <li class="text-blue-100 italic">Les nouvelles technologie</li>
            <li class="text-blue-100 italic">Voyages</li>
            <li class="text-blue-100 italic">Sports</li>
          </ul>
        </p>
      </div>
    </div>
  </main>
  <footer id="foot"></footer>
</body>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(function () {
        $("#navbar").load("navbar.html");
    });
    
    $(function () {
        $("#foot").load("footer.html");
    }); 
</script>
</html>